
<ul class="country_name_list">
    {{#each this}}
    <li class="country_name_item">{{name}} <span class="country_name_item_alt_spell">(Alternative spellings:
            {{altSpellings}})</span></li>
    {{/each}}
</ul>